/Proyecto 1/Proyecto1/nbproject/private/
/Proyecto 1/Proyecto1/build/
/Proyecto 1/Proyecto1/dist/
/Proyecto 1/PruebaPato/nbproject/private/
/Proyecto 1/PruebaPato/build/
/Practica/PracticaVacasIPC1/nbproject/private/
/Practica/PracticaVacasIPC1/build/