/Proyecto 1/Proyecto1/nbproject/private/
/Proyecto 1/Proyecto1/build/
/Proyecto 1/Proyecto1/dist/
/Proyecto 1/PruebaPato/nbproject/private/
/Proyecto 1/PruebaPato/build/
/Practica/PracticaVacasIPC1/nbproject/private/
/Practica/PracticaVacasIPC1/build/
/Practica/PracticaVacasIPC1/dist/
/Proyecto 2/Proyecto2/nbproject/private/
/Proyecto 2/Proyecto2IPC1/nbproject/private/
/Proyecto 2/Proyecto2IPC1/build/
/Proyecto 2/Proyecto2IPC1/dist/